:host {
  ion-content {

    ion-toolbar {
      &.button-toolbar {
        padding: 0 12px;

        ion-buttons {
          display: flex;

          ion-button {
            flex: 50% 1 1;
          }
        }
      }
    }

    ion-card {
      ion-card-header {
        padding: 10px;
      }

      ion-card-content {
        padding: 0 10px 10px;

        ion-button {
          width: 100%;
        }
      }
    }

  }
}